- name: Create directory for student lab dockerfiles
  ansible.builtin.file:
    path: "{{ lab_dir }}"
    state: directory
    mode: "0755"

- name: Create directory for appdata
  ansible.builtin.file:
    path: /opt/appdata
    state: directory
    mode: "0775"

# TODO: User group should be 1000
- name: Set Ownership on Appdata Directory
  ansible.builtin.file:
    path: /opt/appdata
    owner: 1000
    group: 100
    recurse: true

- name: Set Ownership on Casdoor DB
  ansible.builtin.file:
    path: "{{ lab_dir }}/services/casdoor"
    owner: 1000
    group: 1000
    mode: "0777"
    recurse: true

- name: Set Ownership on prometheus directory
  ansible.builtin.file:
    path: "{{ lab_dir }}/services/prometheus"
    owner: 1000
    group: 100
    mode: "0777"
    recurse: true


- name: Set Ownership on n8n data
  ansible.builtin.file:
    path: "{{ lab_dir }}/services/dockge/stacks/lab-tools-n8n/n8n_data"
    owner: 1000
    group: 1000
    mode: "0775"
    state: directory
    recurse: true


- name: Set Ownership on jupyterlab workspace 
  ansible.builtin.file:
    path: "{{ lab_dir }}/services/dockge/stacks/lab-tools-jupyter/workspace"
    owner: 1000
    group: 1000
    mode: "0775"
    recurse: true
