provisioning/variables.pkrvars.hcl
provisioning/variables.auto.pkrvars.hcl
provisioning/terraform/.terraform
provisioning/terraform/.ssh/*
provisioning/terraform/terraform.tfstate*
ssh-keys/*
.aider*ˆ

np-internal-prod.json

utils/whmcs-provisioner/orders_cache.json
utils/whmcs-provisioner/hosts
utils/whmcs-provisioner/hosts.dev
utils/whmcs-provisioner/.veenv
utils/np-internal-prod.json

provisioning/ansible/inventory/hosts
provisioning/ansible/inventory/hosts.dev
provisioning/ansible/inventory/hosts.lab
provisioning/ansible/inventory/hosts.*

provisioning/ansible/group_vars/lab.yaml

provisioning/tests/__pycache__/*
_temp_/*
provisioning/scripts/copy.sh
provisioning/scripts/deploy.sh

.vscode

NOTES.md
utils/*
services/casdoor/casdoor.db_orig