services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=n8n.${DOMAIN}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.${DOMAIN}/
      - GENERIC_TIMEZONE=Etc/UTC
    volumes:
      - ./n8n_data:/home/node/.n8n
    labels:
      - "com.centurylinklabs.watchtower.enable"
      - "sablier.enable=true"
      - "sablier.group=default"
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`n8n.${DOMAIN}`)"
      - "traefik.http.routers.n8n.entrypoints=https"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"
      - "traefik.http.routers.n8n.service=n8n"
      - "traefik.http.routers.n8n.tls=true"
      - "traefik.http.routers.n8n.tls.certresolver=default"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.names=n8n"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.dynamic.displayName=n8n"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.dynamic.refreshFrequency=5s"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.dynamic.showDetails=true"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.dynamic.theme=ghost"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.sablierUrl=http://sablier:10000"
      - "traefik.http.middlewares.sablier-n8n.plugin.sablier.sessionDuration=5m"
      - "traefik.http.routers.n8n.middlewares=sablier-n8n,traefik-forward-auth"
      - "mafl.enable=true"
      - "mafl.title=n8n"
      - "mafl.description=Workflow automation tool"
      - "mafl.tag=automation"
      - "mafl.group=Tools"
      - "mafl.link=https://n8n.${DOMAIN}"
      - "mafl.icon.name=simple-icons:n8n"
      - "mafl.status.enabled=true"
    networks:
      - web

networks:
  web:
    external: True
