# pre_tasks:

- name: Ensure mafl config directory exists
  ansible.builtin.file:
    path: "{{ lab_dir }}/services/mafl/"
    state: directory
    mode: '0755'
    owner: 1000
    group: 50

- name: Check if mafl config.yml exists
  ansible.builtin.stat:
    path: "{{ lab_dir }}/services/mafl/config.yml"
  register: mafl_config_stat
  
- name: Copy mafl config.yml if not yet present
  ansible.builtin.copy:
    src: ../../services/mafl/config.yml_template
    dest: "{{ lab_dir }}/services/mafl/config.yml"
    mode: '0644'
    owner: 1000
    group: 50
  when: not mafl_config_stat.stat.exists

- name: Ensure casdoor directory exists
  ansible.builtin.file:
    path: "{{ lab_dir }}/services/casdoor"
    state: directory
    mode: '0755'
    owner: 1000
    group: 50

- name: Get lab external ip
  ansible.builtin.command: "curl -s -4 https://ifconfig.me"
  register: cmd_get_lab_external_ip
  changed_when: false
  failed_when: false
  when: lab_external_ip is not defined or lab_external_ip == ""

- name: Extract lab external ip
  ansible.builtin.set_fact:
    lab_external_ip: "{{ cmd_get_lab_external_ip.stdout }}"
  when: lab_external_ip is not defined or lab_external_ip == ""

- name: Get lab user
  ansible.builtin.shell: "getent passwd 1000 | cut -d':' -f1"
  register: cmd_get_lab_user
  changed_when: false
  failed_when: false
  when: lab_user is not defined or lab_user == ""

- name: Set lab domain fact
  ansible.builtin.set_fact:
    lab_domain: "{{ lab_external_ip }}.traefik.me"
  when: lab_domain is not defined or lab_domain == ""

- name: Set lab user fact
  ansible.builtin.set_fact:
    lab_user: "{{ cmd_get_lab_user.stdout }}"
  when: lab_user is not defined or lab_user == ""

- name: Debug lab user
  ansible.builtin.debug:
    msg: "The lab user is {{ lab_user }}"

- name: Get lab ssh fingerprint
  ansible.builtin.shell: |
    set -o pipefail
    ssh-keygen -lf {{ lab_dir }}/services/sshwifty/id_rsa | awk '{print $2}'
  register: cmd_get_lab_ssh_fingerprint
  changed_when: false
  failed_when: false
  when: lab_ssh_fingerprint is not defined or lab_ssh_fingerprint == ""

- name: Set lab ssh fingerprint fact
  ansible.builtin.set_fact:
    lab_ssh_fingerprint: "{{ cmd_get_lab_ssh_fingerprint.stdout }}"
  when: lab_ssh_fingerprint is not defined or lab_ssh_fingerprint == ""

- name: Debug lab external ip
  ansible.builtin.debug:
    msg: "The lab external IP is {{ lab_external_ip }} with user {{ lab_user }} and fingerprint {{ lab_ssh_fingerprint }}"

- name: Synchronize docker-compose files and their corresponding folders
  ansible.posix.synchronize:
    src: "{{ item }}"
    dest: "{{ lab_dir }}/services/"
    rsync_opts:
      - "--include=docker-compose*.yml"
      - "--include=docker-compose*.yaml"
      - "--include=.env"
      - "--include=*/"
      - "--exclude=*"
  with_items: 
    - "../../services/"

- name: Synchronize contents of each service folder
  ansible.posix.synchronize:
    src: "../../services/{{ item }}/"
    dest: "{{ lab_dir }}/services/{{ item }}/"
  with_items:
    - "casdoor"
    - "dockge"
    - "grafana"
    - "loki"
    - "mafl"
    - "portainer"
    - "prometheus"
    - "promtail"
    - "sshwifty"
    - "traefik"
    - "crowdsec"
    - "code-server"


- name: Get OAUTH client secret from casdoor
  ansible.builtin.command: python3 {{ lab_dir }}/utils/casdoor/get_client_credentials.py --file {{ lab_dir }}/services/casdoor/init_data.json --client-secret {{ generic_oauth_application_name }}
  register: cmd_casdoor_secret
  changed_when: false
  failed_when: false

- name: Extract OAUTH Client Secret
  ansible.builtin.set_fact:
    generic_oauth_client_secret: "{{ cmd_casdoor_secret.stdout }}"

- name: Get OAUTH client ID from casdoor
  ansible.builtin.command: python3 {{ lab_dir }}/utils/casdoor/get_client_credentials.py --file {{ lab_dir }}/services/casdoor/init_data.json --client-id {{ generic_oauth_application_name }}
  register: cmd_casdoor_id
  changed_when: false
  failed_when: false

- name: Extract OAUTH Client ID
  ansible.builtin.set_fact:
    generic_oauth_client_id: "{{ cmd_casdoor_id.stdout }}"

- name: Debug OAUTH data
  ansible.builtin.debug:
    msg: "The OAUTH client ID {{ generic_oauth_client_id }} OAUTH Client Secret {{ generic_oauth_client_secret }}"

- name: Render the Jinja2 template for casdoor
  ansible.builtin.template:
    src: ../../services/casdoor/conf/app.conf.j2
    dest: "{{ lab_dir }}/services/casdoor/conf/app.conf"
    mode: '0644'

- name: Render the Jinja2 template for traefik
  ansible.builtin.template:
    src: ../../services/traefik/traefik.yml.j2
    dest: "{{ lab_dir }}/services/traefik/traefik.yml"
    mode: '0644'

- name: Render the Jinja2 template for crowdsec in traefik
  ansible.builtin.template:
    src: ../../services/traefik/conf.d/crowdsec.yml.j2
    dest: "{{ lab_dir }}/services/traefik/conf.d/crowdsec.yml"
    mode: '0644'

- name: Render the Jinja2 template for sshwifty
  ansible.builtin.template:
    src: ../../services/sshwifty/sshwifty.conf.json.j2
    dest: "{{ lab_dir }}/services/sshwifty/sshwifty.conf.json"
    mode: '0644'


- name: Render docker-compose templates
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0644'
  loop:
    - src: ../../services/docker-compose.casdoor.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.casdoor.yaml"
    - src: ../../services/docker-compose.code-server.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.code-server.yaml"
    - src: ../../services/docker-compose.crowdsec.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.crowdsec.yaml"
    - src: ../../services/docker-compose.dockge.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.dockge.yaml"
    - src: ../../services/docker-compose.dozzle.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.dozzle.yaml"
    - src: ../../services/docker-compose.grafana.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.grafana.yaml"
    - src: ../../services/docker-compose.mafl.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.mafl.yaml"
    - src: ../../services/docker-compose.portainer.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.portainer.yaml"
    - src: ../../services/docker-compose.sshwifty.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.sshwifty.yaml"
    - src: ../../services/docker-compose.traefik.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.traefik.yaml"
    - src: ../../services/docker-compose.watchtower.yaml.j2
      dest: "{{ lab_dir }}/services/docker-compose.watchtower.yaml"


- name: Render the Jinja2 template for lab-llm-perplexica
  ansible.builtin.template:
    src: ../../services/dockge/stacks/lab-llm-perplexica/perplexica/config.toml.j2
    dest: "{{ lab_dir }}/services/dockge/stacks/lab-llm-perplexica/perplexica/config.toml"
    mode: '0644'

- name: Render the Jinja2 template for lab-llm-lobechat
  ansible.builtin.template:
    src: ../../services/dockge/stacks/lab-llm-lobechat/compose.yml.j2
    dest: "{{ lab_dir }}/services/dockge/stacks/lab-llm-lobechat/compose.yml"
    mode: '0644'

- name: Render the Jinja2 template for lab-llm-skyvern
  ansible.builtin.template:
    src: ../../services/dockge/stacks/lab-llm-skyvern/compose.yaml.j2
    dest: "{{ lab_dir }}/services/dockge/stacks/lab-llm-skyvern/compose.yaml"
    mode: '0644'

- name: Render the Jinja2 template for jupyter
  ansible.builtin.template:
    src: ../../services/dockge/stacks/lab-tools-jupyter/compose.yaml.j2
    dest: "{{ lab_dir }}/services/dockge/stacks/lab-tools-jupyter/compose.yaml"
    mode: '0644'

- name: Remove the Jinja2 templates from {{ lab_dir }}
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ lab_dir }}/services/casdoor/conf/app.conf.j2"
    - "{{ lab_dir }}/services/traefik/traefik.yml.j2"
    - "{{ lab_dir }}/services/traefik/conf.d/crowdsec.yml.j2"
    - "{{ lab_dir }}/services/sshwifty/sshwifty.conf.json.j2"
    - "{{ lab_dir }}/services/docker-compose.casdoor.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.code-server.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.crowdsec.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.dockge.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.dozzle.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.grafana.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.mafl.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.portainer.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.sshwifty.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.traefik.yaml.j2"
    - "{{ lab_dir }}/services/docker-compose.watchtower.yaml.j2"
    - "{{ lab_dir }}/services/dockge/stacks/lab-llm-perplexica/perplexica/config.toml.j2"
    - "{{ lab_dir }}/services/dockge/stacks/lab-llm-lobechat/compose.yml.j2"
    - "{{ lab_dir }}/services/dockge/stacks/lab-llm-skyvern/compose.yaml.j2"
    - "{{ lab_dir }}/services/dockge/stacks/lab-tools-jupyter/compose.yaml.j2"





