services:
  Cloud:
    - title: Shell
      description: Web-based shell access
      link: 'https://tty2web.{{ lab_domain }}/tty/'
      icon:
        name: simple-icons:gnubash
        color: '#4EAA25'
        wrap: true
