- name: Copy Docker images to hosts
  hosts: lab
  remote_user: root
  roles:
    # - common
    - lab-copy-installer
    - lab-configure-casdoor
    - lab-copy-dockers
    - lab-configure-env
    - lab-set-permissions
