version: "3.3"

services:
  sablier:
    image: sablierapp/sablier:${SABLIER_VERSION:-latest}
    container_name: sablier
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "sablier", "health"]
      interval: 1m30s
    command:
      - start
      - --provider.name=docker
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    labels:
      - traefik.enable=false
    networks:
      - web

networks:
  web:
    external: True
