version: "3.3"

services:
  traefik:
    image: traefik:${TRAEFIK_VERSION:-latest}
    container_name: traefik
    env_file:
      - {{ lab_dir }}/services/.env
    restart: unless-stopped # this is mine
    ports:
      - "80:80"
      - "443:443"
      # - "8080:8080"
    volumes:
      - "./traefik:/etc/traefik"
      - "./traefik/logs:/var/log/traefik"
      - "./:/app"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./traefik/ban.html:/ban.html"
      - "./traefik/captcha.html:/captcha.html"
    labels:
      - "traefik.http.routers.traefik-api.service=api@internal"
      - "traefik.http.routers.traefik-api.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.traefik-api.entrypoints=https"
      - "traefik.http.routers.traefik-api.tls.certresolver=default"
      - "traefik.http.routers.traefik-api.middlewares=traefik-forward-auth"
    logging:
      driver: journald
    networks:
      - web

  # Ingress configured trough traefik/conf.d/whoami.yml
  whoami:
    image: containous/whoami:${WHOAMI_VERSION:-latest}
    container_name: whoami
    labels:
      - sablier.enable=true
      - sablier.group=default
    networks:
      - web

networks:
  web:
    external: True

